RewriteEngine On

# Exclude existing files or directories from the rewrite rule
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Capture anything after the first / and pass it as a $_GET parameter
RewriteRule ^([^/]+)/?$ index.php?storeTitle=$1 [L,QSA]

# If / is not found in the URL, redirect to error page
RewriteCond %{REQUEST_URI} !^/error\.php
RewriteRule ^ - [E=error:1]
RewriteCond %{ENV:error} =1
RewriteRule ^ error.php [L]
