RewriteEngine On

# Exclude existing files or directories from the rewrite rule
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Exclude CSS files from rewriting
RewriteCond %{REQUEST_URI} !\.(css)$

# Check if URL contains /
RewriteCond %{REQUEST_URI} /
# If it does, capture anything after / and pass it as a $_GET parameter
RewriteRule ^(.*)$ index.php?storeTitle=$1 [L,QSA]

# If / is not found in the URL, redirect to error page
RewriteRule ^ - [E=error:1]
RewriteCond %{ENV:error} =1
RewriteRule ^ error.php [L]
